<div class="addMemberContainer">
  <form [formGroup]="newMemberForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Name"
        formControlName="member_name"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="Email"
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="phone"
        placeholder="Phone Number"
        formControlName="phone"
      />
    </mat-form-field>
    <!--
      <button
        color="primary"
        style="margin-bottom: 5px"
        (click)="fileInput.click()"
        #fileInput
      >
        Image Upload
      </button>
      <br />
    -->
    <!--
      <input
        (change)="onFileSelected($event)"
        #fileInput
        type="file"
        id="file"
        name="image"
      />
    -->

    <mat-form-field>
      <ngx-mat-file-input
        formControlName="image"
        placeholder="Upload Image"
        (change)="onFileSelected($event)"
        accept=".png,.jpg,.jpeg"
      >
      </ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>
    <button mat-raised-button type="submit">Save</button>
  </form>
</div>
