.search {
  width: 25%;
}

.search-container {
  display: flex;
  justify-content: center;
}

.panel {
  width: 40%;
  margin-bottom: 20px !important;
  margin-left: 30%;
}

.panel:hover {
  cursor: pointer;
}
