<div class="wrapper">
  <div style="text-align:center">
    <h1>Employee Section</h1>
    <div>
      <button mat-raised-button color="accent" (click)="openDialog()">
        Add Employee
      </button>
    </div>
  </div>
</div>
<div class="searchbar-container">
  <mat-table
    class="employee-table mat-elevation-z8"
    [dataSource]="dataSource"
    matSort
  >
    <!--
      <ng-container matColumnDef="seqNo">
          <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
          <mat-cell *matCellDef="let employee">{{employee.seqNo}}</mat-cell>
      </ng-container>
    -->

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let employee">{{
        employee.employee_name
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let employee">{{
        employee.email
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Location</mat-header-cell
      >
      <mat-cell class="duration-cell" *matCellDef="let employee">{{
        employee.branch_name
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="employeeid">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Employee ID#</mat-header-cell
      >
      <mat-cell class="duration-cell" *matCellDef="let employee">{{
        employee.employee_number
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let employee">
        <mat-icon (click)="onEditClicked(employee)">edit</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let employee">
        <mat-icon (click)="onDeleteClicked(employee)">delete</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <!-- <app-employee-card [employeeData]="employee"></app-employee-card> -->

  <!--
    <dynamic-form [fields]="regConfig" (submit)="submit($event)"></dynamic-form>
  -->
</div>
