.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.membercard {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, auto);
  padding: 10px;
  margin-top: 30px;
  width: 50%;
}

.name {
  grid-column: 1/5;
  grid-row: 1/2;
}

.picture {
  grid-column: 5/6;
  grid-row: 1/2;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: right;
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.email {
  grid-column: 1/6;
  grid-row: 3/4;
}
.phone {
  grid-column: 1/6;
  grid-row: 4/5;
}

.checkedoutbooks {
  grid-column: 1/6;
  grid-row: 5/6;
}
